*{
    margin: 0;
}
.ad-nav-page{
    background-color:rgb(15, 13, 13);
    width: 100%;
    height: 70px;
}
.ad-nav-container{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.ad-navdes{
    color: #ffffff;
}
.ad-nav-items{
    display:flex;
    justify-content: flex-end;
    gap: 50px;
}
.ad-navHover {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em; 
    display: inline-block;
    position: relative;
  }
  .ad-navHover:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 40%;
    position: absolute;
    background: #ffffff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .ad-navHover:hover:after { 
    width: 100%; 
    left: 0; 
  }