.ad-home-qbox{
    width: 100%;
    height: 5%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.ad-home-quotes{
    font-size: 35px;
    color: white;
}
/* .home-quotes:hover{
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
.ad-home-event{
    width: 130px;
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    position: relative;
    border-radius: 2px;
}
.ad-home-createevent{
    width: 210px;
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    position: relative;
    border-radius: 2px;
}
.ad-home-myevent{
    width: 180px;
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    position: relative;
    border-radius: 2px;
}
.ad-home-pevent{
    position: relative;
    top: 15px;
}
.ad-home-events{
    width: 380px;
    display: flex;
    gap: 20px;
    position: relative;
    top: 22px;
    left: 10px;
}
.ad-home{
    background-image: url("https://wallpapersmug.com/download/1920x1080/4d7d03/light-colors-geometric-pattern-abstract.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.ad-hevent-border{
    width: 400px;
    height: 100px;
    top: 90px;
    left: 33%;
    position: relative;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}