.home-qbox{
    width: 70%;
    height: 5%;
    position: relative;
    left: 20%;
    margin-top: 5%;
}
.home-quotes{
    font-size: 35px;
    color: white;
}
/* .home-quotes:hover{
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
.home-event{
    width: 130px;
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    position: relative;
    border-radius: 2px;
}
.home-createevent{
    width: 210px;
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    position: relative;
    border-radius: 2px;
}
.home-myevent{
    width: 180px;
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    position: relative;
    border-radius: 2px;
}
.home-pevent{
    position: relative;
    top: 15px;
}
.home-events{
    width: 380px;
    display: flex;
    gap: 20px;
    position: relative;
    top: 22px;
    left: 30px;
}
.home{
    background-image: url("https://wallpapers.com/images/hd/light-colour-pictures-1bztvsmdllm5lape.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.hevent-border{
    width: 400px;
    height: 100px;
    top: 90px;
    left: 33%;
    position: relative;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}